exportPattern("^[[:alpha:]]+")

export(arma_dist_al)
export(native_lapjv)
export(DAS)
export(doubleDAS)
export(LinearAssignmentProblem_cpp)
export(DoubleAssignmentProblem_cpp)
import(Rcpp)
import(RcppArmadillo)


useDynLib(spbalDAS, .registration = TRUE)

importFrom(Rcpp, evalCpp)
