exportPattern("^[[:alpha:]]+")

export(hungarian_arma)
export(DAS_cpp)
export(arma_dist_al)
export(SBMoranIvec)

import(Rcpp)
import(RcppArmadillo)


useDynLib(spbalDAS, .registration = TRUE)

importFrom(Rcpp, evalCpp)
